<html>
	<head th:replace="~{base :: head}"></head>
	<body onload="onLoad()">
		<div th:replace="~{base :: logo}"></div>
		<div class="container" id="ofertas">
			<div th:replace="~{base :: titulo('Haga su oferta', 'mb-3')}"></div>
			<div class="card mb-3" v-for="pedido in pedidos">
				
				<div class="card-header text-bg-dark">{{pedido.nombreDelProducto}}</div>
				
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div>Producto</div>
							<div><a v-bind:href="pedido.urlProducto">{{pedido.nombreDelProducto}}</a></div>
							<div>Descripcion</div>
							<div>
								<textarea disabled="disabled" class="form-control">{{pedido.descripcion}}</textarea>
							</div>
							<div class="row mt-2">
								<div class="col-md-5">
									Valor: <input v-bind:class="{'is-invalid':pedido.errores.valor!==''}" class="form-control" v-model="pedido.valorNegociado"/>
									<div v-if="pedido.errores.valor" class="invalid-feedback">
										{{pedido.errores.valor}}
									</div>
								</div>
								<div class="col-md-7">
									Fecha de entrega: <input v-bind:class="{'is-invalid':pedido.errores.fechaDeEntrega!==''}" class="form-control" v-model="pedido.fechaDeEntrega"/>
									<div v-if="pedido.errores.fechaDeEntrega" class="invalid-feedback">
										{{pedido.errores.fechaDeEntrega}}
									</div>
								</div>
							</div>
							<div class="mt-2">
								<label class="form-label">Comentario</label>
								<textarea class="form-control" v-model="pedido.comentario"></textarea>
							</div>
							<button v-if="pedido.ofertaEnviada" class="btn btn-success mt-2">Oferta Enviada</button>
							<button v-else v-on:click="enviarOferta(pedido)" class="btn btn-primary mt-2">Enviar Oferta</button>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagen">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function onLoad(){
				const { createApp } = Vue

				createApp({
				  data() {
				    return {
				      pedidos: []
				    }
				  },
				  mounted () {
				    axios
				      .get('http://localhost:8080/api/pedidos/esperando')
				      .then(response => {
					    	  response.data.forEach(pedido => {
					    		  pedido.ofertaEnviada = false
					    		  pedido.errores = {
				    				  valor: '',
				    				  fechaDeEntrega: ''
					    		  }  
					    	  })
					    	  this.pedidos = response.data
				    	  })
				  },
				  methods: {
					  enviarOferta(pedido){
						  pedido.errores = {
		    				  valor: '',
		    				  fechaDeEntrega: ''
			    		  }
						  axios
						      .post('http://localhost:8080/api/ofertas', {
						    	  pedidoId: pedido.id,
						    	  valor: pedido.valorNegociado,
						    	  fechaDeEntrega: pedido.fechaDeEntrega,
						    	  comentario: pedido.comentario
						      })
						      .then(response => pedido.ofertaEnviada = true)
						      .catch(function (error) {
						    	  error.response.data.errors.forEach(errorJson => {
						    		  pedido.errores[errorJson.field] = errorJson.defaultMessage;
						    	  })
						      })
					  }
				  }
				}).mount('#ofertas')
			}
		</script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>
</html>